* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.heading {
  width: 100%;
  text-align: center;
  padding: 16px;
  height: 40px;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  background: -webkit-linear-gradient(white, purple);
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 75%;
  justify-content: center;
  align-items: center;
}

form {
  height: max-content;
  width: 400px;
  padding: 16px;
  /* border-right: 1px solid black; */
}

.field {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
  width: 100%;
}

.field label {
  text-transform: capitalize;
}

.field input {
  padding: 8px;
  border-radius: 8px;
  border-color: rgba(0, 0, 0, 0.086);
}
form button {
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  background-color: purple;
  color: white;
  border: 1px solid transparent;
  margin-top: 16px;
  text-transform: capitalize;
  font-size: 18px;
}

form button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

#card {
  border: 1px dotted grey;
  padding: 24px;
  width: 400px;
  margin-top: 40px;
  display: none;
}

#card .list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#card .list .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#card .list .item span{
    font-size: 18px;
    text-transform: capitalize;
}

#card .list .item .label{
    text-transform: uppercase;
    font-weight: 700;

}

#card .list .item .value{
    font-weight: 100;
    color: rebeccapurple;
}
#card h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 24px;
  background: -webkit-linear-gradient(white, purple);
  font-weight: 700;
  background-clip: text;
  color: transparent;
}

.field input.invalid{
    border-color: red;
}